body{
    background-color: bisque;
}
h1{
    color: rgb(78, 4, 4);
    font-size: 25t;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
   font-size: 20pt;
   color: rgb(128, 94, 2);
   font-weight: bold;
  

}
img{
    height: 400px;
    width: auto;
    border-radius: 5%;
}